.sidenav {
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #d7cec7;
  overflow-x: hidden;
  padding-top: 20px;
}
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  background-color: #d7cec7;
  color: #565656;
  display: block;
}
.sidenav a:hover {
  background-color: #c09f80;
  color: #565656;
}
.sidenav a.active {
  background-color: #76323f;
}
.main {
  margin-left: 160px;
  padding: 0px 10px;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
body {
	background-color: #d7cec7;
}
h1 {
	font-family: Arial, Helvetica, sans-serif;
	color: #c09f80;
	text-align: center;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.info {
  margin: auto;
  width: 70%;
  padding: 10px;
}
p {
  font-family: Arial, Helvetica, sans-serif;
  color: #76323f;
  text-align: center;
}
a {
  color: #4717f6;
  font-family: Arial, Helvetica, sans-serif;
}
h3 {
	font-family: Arial, Helvetica, sans-serif;
	color: #e7dfdd;
	text-align: center;
	text-decoration: underline;
}
.system {
	width: 50%;
	margin: auto;
	padding: 10px;
	border: 3px solid #c09f80;
}
li {
	font-family: Arial, Helvetica, sans-serif;
    color: #e7dfdd;
}
figcaption {
  color: #76323f;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
}
figcaption a {
  color: #c09f80;
}
.soulscream {
	color: red;
	overflow-wrap: break-word;
}
details {
 width: 50%;
 margin: auto;
 padding: 10px;
}
details > p {
	background-color: #000000;
	color: #FFFFFF;
	border-radius: 5px;
}
details > .best {
	color:rgb(33.41981478500206,33.41981478500206,255);
		}
details > .avg {
	color:rgb(231.67795004721464,231.67795004721464,255);
}
